/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html.loginPage,
body.loginPage,
.loginPage div,
.loginPage span,
.loginPage applet,
.loginPage object,
.loginPage iframe,
.loginPage h1,
.loginPage h2,
.loginPage h3,
.loginPage h4,
.loginPage h5,
.loginPage h6,
.loginPage p,
.loginPage blockquote,
.loginPage pre,
.loginPage a,
.loginPage abbr,
.loginPage acronym,
.loginPage address,
.loginPage big,
.loginPage cite,
.loginPage code,
.loginPage del,
.loginPage dfn,
.loginPage em,
.loginPage img,
.loginPage ins,
.loginPage kbd,
.loginPage q,
.loginPage s,
.loginPage samp,
.loginPage small,
.loginPage strike,
.loginPage strong,
.loginPage sub,
.loginPage sup,
.loginPage tt,
.loginPage var,
.loginPage b,
.loginPage u,
.loginPage i,
.loginPage center,
.loginPage dl,
.loginPage dt,
.loginPage dd,
.loginPage ol,
.loginPage ul,
.loginPage li,
.loginPage fieldset,
.loginPage form,
.loginPage label,
.loginPage legend,
.loginPage table,
.loginPage caption,
.loginPage tbody,
.loginPage tfoot,
.loginPage thead,
.loginPage tr,
.loginPage th,
.loginPage td,
.loginPage article,
.loginPage aside,
.loginPage canvas,
.loginPage details,
.loginPage embed,
.loginPage figure,
.loginPage figcaption,
.loginPage footer,
.loginPage header,
.loginPage hgroup,
.loginPage menu,
.loginPage nav,
.loginPage output,
.loginPage ruby,
.loginPage section,
.loginPage summary,
.loginPage time,
.loginPage mark,
.loginPage audio,
.loginPage video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.loginPage article,
.loginPage aside,
.loginPage details,
.loginPage figcaption,
.loginPage figure,
.loginPage footer,
.loginPage header,
.loginPage hgroup,
.loginPage menu,
.loginPage nav,
.loginPage section {
  display: block;
}
.loginPage ol,
.loginPage ul {
  list-style: none;
}
.loginPage blockquote,
.loginPage q {
  quotes: none;
}
.loginPage blockquote:before,
.loginPage blockquote:after,
.loginPage q:before,
.loginPage q:after {
  content: "";
  content: none;
}
.loginPage table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
